@using flightReservationSystem.Model
@model IEnumerable<Booking>
@{
    ViewBag.Title = "GetBookingList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="title-5 m-b-35">Rezervasyonlar</h3>

                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>

                                    <th>Rezervasyon Tarihi</th>
                                    <th>Uçuş Id</th>
                                    <th>Yolcu Sayısı</th>
                                    <th>Toplam Tutar</th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr class="tr-shadow">

                                        <td>@item.BookingDateTime</td>
                                        <td>@item.FlightID</td>
                                        <td>
                                            @item.NumPassengers
                                        </td>
                                        <td class="desc">@item.TotalAmount</td>


                                    </tr>
                                    <tr class="spacer"></tr>


                                </tbody>
                            }

                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

